@import '../node_modules/@ibm/plex/css/ibm-plex.css';
.App {
  text-align: center;
}

h1 {
  color: #0062ff;
  text-align: center;
  font-family: 'IBM Plex Sans Condensed', 'Helvetica Neue', Arial, sans-serif;
}
