@import '../node_modules/@ibm/plex/css/ibm-plex.css';
/*
font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
font-family: 'IBM Plex Sans Condensed', 'Helvetica Neue', Arial, sans-serif;
font-family: 'IBM Plex Serif', 'Georgia', Times, serif;
*/

*{
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 20px;
  padding-left: 40px;
}

p {
  font-size: 16px;
}

.hero {
  color: white;
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #3D3D3D;
}

.hero-text {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
}

.radar {
  background-color: #858585;
}